@font-face {
    font-family: 'myfont';
    src: url('./fonts/Unicode/Li\ Shohid\ Shafkat\ Samir\ Unicode.ttf');
}

*{
    margin: 2px;
    padding:3px
}
.header-title{
    font-family: 'myfont';
    text-align: center;
}
.navbar-area{
    text-align: center;
    background-color: rgb(238, 231, 231);
   
}
/* ========================================================= */

/* =====================navbar css start============ */

[href="#"]{
    display: inline-block;
    padding-left: 15px;
    border-left: 0.5px solid black;
    margin-left: 35px;
    font-family: "myfont";
    font-size: 20px;
}
[href="feature"]{
    display: inline-block;
    font-family: 'myfont';
    font-size: 20px;
}
/* ====================navbar css end */

.news-area{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0px;

}
.images{
    height: 300px;
    width: 300px;
}